@import url('./home.css');

.container {
    padding-top: 20px;
}

.form {
    width: 65%;
    height: 70%;
    margin: 0 auto;
}

.container h2{
    width: 300px;
    height: 50px;
    resize: none;
    /* display: block; */
    margin-top: -100px;
    margin-left: 18px;
    font-size: 17px;
    font-family: 'Montserrat';
    padding: 13px;
    /* box-sizing: border-box; */
    color: rgb(86, 90, 91);
}

.container h3{
    width: 300px;
    height: 50px;
    resize: none;
    /* display: block; */
    margin-top: -100px;
    margin-left: 500px;
    font-size: 17px;
    font-family: 'Montserrat';
    padding: 13px;
    /* box-sizing: border-box; */
    color: rgb(86, 90, 91);
}

.btn_1 {
    width: 25%;
    height: 25%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: -145px;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #045a8d;
    color: #fafafa;
}
.btn_2 {
    width: 25%;
    height: 25%;
    display: block;
    margin: 0 auto;
    margin-left: 340px;
    margin-top: -130px;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #045a8d;
    color: #fafafa;
}

.text:focus,
.btn:focus {
    outline: none;
}

.title {
    font-size: 2em;
    fill: #5b5f5f;

    font-family: 'Montserrat', sans-serif;
}

.text_anote {
    font-size: 10px;
    fill: #66a3b3;
    font-family: 'Montserrat', sans-serif;
}

.summaryTextTitle {
    font-size: 1.5em;
    fill: #393b3b;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.summaryText {
    font-size: 1.2em;
    fill: #393b3b;
    font-family: 'Montserrat', sans-serif;

}

.uptext {
    font-size: 1.2em;
    fill: #393b3b;
    font-family: 'Montserrat', sans-serif;

}

.container button a {
    color: rgb(233, 239, 247);
}

